
     #main_container{background:#EEE; background-color: #000;}   
     #background{opacity: .2;position: absolute; z-index: 1; display: block; width: 100%; height: 100%; background: #000;}
     #header, .character{position: relative; z-index:99; line-height: 16px;min-width:994px;background-color:#800000; padding:0 8px 0 8px; margin:-5px -5px 0 -5px;}
     #header_nav{line-width:960px; margin-top: -5px; margin-left:-5px; padding:0 150px;}
     #bbc{margin-top: 8px; margin-bottom: 5px; margin-left: 50px}
     #nav_block,#nav_list,#nav_search{padding-right: 140px; position: relative; float: right;}
     #nav_list{float: left; margin:-5px -5px 0 -5px; padding:0 8px 0 8px; border-width:0 1px 0 0; border: 1px solid #4c4c4c;background-color: transparent; list-style:none;}
     #nav_search{padding-right: 140px;}
     #search{position: absolute; z-index: 1;right: 0;width: 0;height: 23px; margin-top: 8px;}
     #blq-search-btn{position:relative; float:right;}
     div {display: block;}
     li{display: inline; }
     a { color:white; width:60px;padding:10px}
   