/*Styling the bbc clone assignment*/
#doc{margin:0 auto;
     height: 1060px;}
/*the header div*/
#head-container{ height:140px;
                 padding:0 8px 0 8px; 
                 background-color:rgb(128,0,0);
                 margin:-5px -5px 0 -5px;
}
/*the header elements begin*/
#header{height: 40px;
        background-color:rgba(0,0,0,0.2);
        padding:0 8px 0 8px; 
        margin:-5px -5px 0 -5px;}
/*the header navigation div*/
#header-nav{
    margin-top: 8px;
    margin-left:175px; 
    float:left;}
#nav-block,#nav-list,#nav-search{margin-right: 175px;
                                 position: relative; 
}
#nav-list{float:left;
          margin:-5px -5px 0 80px;
          background-color: transparent; 
          list-style:none;}
#nav-search{margin-right:40px;
            float:right;
            position: absolute; 
            right:0;
            height: 23px;
            margin-top: 8px;}
#search-img{position:absolute; 
            float:right;
}
div {display: block;}
li{display: inline; }
.white{ color:white;
        width:16px;
        padding:10px;}
a:hover   {color:#ff0000; background-color:transparent; text-decoration:underline}
#news-head{color:#ffffff;
           float:left;
           font-size:60px;
           font-family:'calibri';
           margin-left:170px;
           margin-top:-10px;
           margin-right:175px;}
#date{font-family:'calibri';
      margin-left:-160px;
      margin-top:17px;
      color:#ffffff;
      float:left;} 
/*the page content begins*/
/*styling the news posts*/
.post1{
    margin: 0 auto;    
    width: 75%;
}
.post1a
{   float: left;
    width: 64%;
    height: auto;
}
/*styling the links*/
.link{font-size:30px;
      font-family:'calibri';
}
.link-post{ color:#003399; text-decoration:none; background-color:transparent; 
            font-family:'calibri';
            margin-top:-10px;
}
a:hover   {color:#003399; background-color:transparent; text-decoration:underline}
/*styling the images in the news posts*/
.im-post1{float:left;
          margin-right:10px;
          margin-top:10px;
          height: 170px;
          width:300px
}
.text-post1{font-family:'calibri';
            font-size:17px}
.post2a
{ float: left;
  width: 35%;
  height: auto;}
/*styling the magazine and features columns*/
#magazine{width: 350px;
          height: auto;
          background-color:lightgrey;
          float:left;
          padding-left:10px;
          margin-left:50px;
          margin-top:-1px;}
#features{width: 350px;
          height: auto;
          background-color:lightgrey;
          float:left;
          padding-left:10px;
          margin-left:50px;
          margin-top:50px;}
.mag-text{font-size:15px;
          font-family:'calibri';
          margin-top:-5px;}
.left{float:left;}
/*styling the pictures columns*/
.i1{ float:left;
     margin-right:10px;

}
.ptext{background-color:orange;
       text-decoration-color:white;
       text-align: center;
       margin-top:-5px;
       height:20px;}
/*styling the special reports columns*/
.sp{
    color:grey;
    font-family:'calibri'}
#spl-text1{float:left;
           background-color: orange;
           font-family:'calibri';
           width:300px;
           color:white;
           margin-left:5px;
           margin-right:-15px;
           padding-left:25px;}
#spl-text2{float:left;
           background-color: lightgrey;
           font-family:'calibri';
           width:300px;
           height:90px;
           color:white;
           margin-left:5px;
           margin-right:-15px;
           padding-left:25px;}
/*styling the footer*/
#footer{margin: 0 auto;
        width:75%;
        height:auto}
#about{margin-left:150px;
       margin-top:-70px;
}
#about-heading{color:#003399;
    font-family:'calibri'}
#fsection{margin-top:-35px;
    margin-left:500px;
    float:left;}
.flink{color:grey;
       font-size:15px;
       text-decoration:none}
#fsection1{margin-top:-35px;
     margin-left:100px;
     float:left;}
#fsection2{margin-top:-35px;
     margin-left:30px;
     float:left;}

/*End of style sheet*/

